html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    height: 100dvh;
}

header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon img {
    object-fit: contain;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.current-task {
    width: 100vw;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 100px;
    height: 100dvh;
}

.sub-title {
    padding: 0 1.5rem 0rem;
    color: #585858;
    font-size: 1.2rem;
}

#upcoming {
    padding-bottom: 1rem;
}

ul.horizontal-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.task-card {
    background-color: #ffffff;
    margin: 1.2rem 2rem 1rem;
    border-radius: 4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .percent {
    position: relative;
    width: 300px;
    height: 300px;
}

svg {
    position: relative;
    width: 300px;
    height: 300px;
}

svg circle {
    position: relative;
    fill: none;
    stroke-width: 36;
    stroke: #e5e5e5;
    stroke-dasharray: 580;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

svg circle.line {
    stroke-dashoffset: calc(580 - (580 * 20) / 100);
    stroke: #2e3338;
}

.box .percent svg {
    transform: rotate(-76deg);
    transform-origin: 150px 150px;
}

.box .line {
    animation: circleAnim 2s backwards;
}

@keyframes circleAnim {
    0% {
        stroke-dasharray: 580 580;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: calc((580 * 20) / 100) 580;
        stroke-dashoffset: 0;
    }
}

.box .percent .number {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111;
}

.task-name {
    font-size: 1rem;
    color: #111;
    margin-bottom: 0rem;
}

.project-name {
    font-size: 0.8rem;
    color: #7b7b7b;
    margin: 0,
}

.box .percent .number .time {
    font-size: 1.8rem;
}

.box .percent .number .time span {
    font-size: 1.8rem;
    color: #555555;
    font-weight: 400;
}

.box .text {
    padding: 10px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.task-description {
    text-align: center;
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

/* https://b-risk.jp/blog/2022/06/infographics/ */

.projects {
    width: 100%;
    margin: 0 0 80px;
    padding-top: 0rem;
    padding-bottom: 100px;
    height: 100dvh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.projects .project-title {
    padding: 3.5rem 1.5rem 0rem;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.projects .sub-title {
    padding: 1rem 1.5rem 0rem 1.5rem;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-button {
    height: 30px;
    width: auto;
    display: flex;
    gap: 0.8rem;
    margin: 0rem;
}

.add-button img {
    object-fit: contain;
    height: 30px;
    width: 30px;
    opacity: 0.4;
}

.projects-list {
    display: flex;
    flex-direction: column;
}

.project-left {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.project-left h4 {
    font-weight: 400;
    font-size: 0.9rem;
    color: #000;
}

.icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    object-fit: contain;
    height: 30px;
    width: 30px;
}

.p-tags {
    display: flex;
    gap: 0.5rem;
    opacity: 0.7;
    margin: 0.6rem 1.2rem 1rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
    opacity: 0.7;
}

.card-tags {
    display: flex;
    gap: 0.5rem;
    opacity: 0.7;
    margin-top: 0.7rem;
}

.tag {
    background-color: rgba(0, 218, 91, 0.1);
    border-radius: 1.5rem;
    width: fit-content;
    padding: 0.2rem 0.5rem 0.2rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.2rem;
    color: rgb(0, 195, 81);
}

.tag.next-deadline {
    background-color: rgba(255, 0, 0, 0.1);
    color: rgb(255, 0, 0);
}

.tag.next-deadline.done {
    background-color: rgba(99, 99, 99, 0.1);
    color: rgb(0, 0, 0);
}

.tag.shared {
    background-color: rgba(52, 133, 255, 0.1);
    color: rgb(52, 133, 255);
}

.tag.paused {
    background-color: rgba(255, 119, 0, 0.1);
    color: rgb(255, 119, 0);
}

.tag img {
    height: 1rem;
    width: 1rem;
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(52%) sepia(96%) saturate(2983%) hue-rotate(114deg) brightness(101%) contrast(101%);
}

.tag.tag.next-deadline img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(73%) saturate(7055%) hue-rotate(357deg) brightness(105%) contrast(117%);
}

.tag.tag.next-deadline.done img {
    filter: none;
}

.tag.tag.shared img {
    filter: brightness(0) saturate(100%) invert(44%) sepia(79%) saturate(3739%) hue-rotate(206deg) brightness(108%) contrast(104%);
}

.tag.tag.paused img {
    filter: brightness(0) saturate(100%) invert(53%) sepia(80%) saturate(3156%) hue-rotate(1deg) brightness(101%) contrast(108%);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 3rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(100, 100, 100, 0.2));
}



.tab-bar {
    background: rgba(255, 255, 255, 1);
    border-radius: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0.4rem;
    gap: 0.2rem;
}

.tab-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0.3rem;
    border-radius: 4rem;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.tab-button.selected {
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

footer img {
    height: 25px;
    object-fit: contain;
    display: block;
}



.progress-checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 1.5px solid rgba(192, 192, 192, 1);
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotate(-9.5deg) translate(100px, 0);
    animation: checkboxAnim 2.2s backwards;
}

.progress-checkbox input {
    width: 20px;
    height: 20px;
    display: none;
}

.progress-checkbox img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.5;
}

@keyframes checkboxAnim {
    0% {
        transform: translate(-50%, -50%) rotate(270deg) translate(100px, 0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-9.5deg) translate(100px, 0);
    }
}




.project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    margin: 0 1.5rem;
    padding: 1rem 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    text-decoration: none;
    gap: 0.8rem;
}

.project-right {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    width: 50px;
    height: 50px;
}

.progress svg {
    width: 50px;
    height: 50px;
}

.progress svg circle {
    fill: none;
    stroke-width: 5;
    stroke: #e5e5e5;
    stroke-dasharray: 126;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

.progress svg circle.line {
    stroke-dashoffset: calc(126 - (126 * 50) / 100);
    stroke: #6e6e6e;
}

.progress svg circle.thirty {
    stroke-dashoffset: calc(126 - (126 * 33) / 100);
}

.progress svg circle.ten {
    stroke-dashoffset: calc(126 - (126 * 10) / 100);
}

.progress svg circle.zero {
    stroke-dashoffset: calc(126 - (126 * 0) / 100);
}


.progress svg {
    transform: rotate(-90deg);
    transform-origin: 25px 25px;
}

.progress .number {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #111;
    font-size: 0.6rem;
}

.project-summary {
    width: 100%;
    /* border-top: 1px dashed rgba(0, 0, 0, 0.2); */
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

.project-descriptions {
    margin: 0 1.5rem 1rem;
    line-height: 1.5rem;
}

.project-descriptions .container {
    display: flex;
    gap: 0.5rem;
    line-height: 2rem;
}

.project-descriptions h5 {
    font-weight: 400;
}

.property {
    color: #969696;
    font-weight: 500;
}

.share-id {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

.desc {
    flex-direction: column;
    line-height: 1.5rem;
}

.desc .property {
    margin-bottom: 0.5rem;
}

.desc .property {}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0.5rem 1.2rem 0.5rem;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.nav-bar-left h3 {
    font-weight: 400;
    font-size: 1rem;
}

.nav-bar-left img {
    height: 100%;
    width: auto;
}

.nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.4rem;
    gap: 0.5rem;
    opacity: 0.6;
    text-decoration: none;
    color: #000;
}